Repository JP-Ellis/jpellis.me: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, pnpm-lock

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages:
  - pre-commit
default_install_hook_types:
  - commit-msg
  - post-checkout
  - pre-commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm exec prettier --write --ignore-unknown
        language: system
        exclude: ^(pnpm-lock\.yaml)$
        types: [text]

      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        files: \.(js|cjs|ts|cts|svelte)$

      - id: pnpm-lock
        name: pnpm-lock
        entry: pnpm install --lockfile-only
        language: system
        files: ^(package\.json|pnpm-lock\.yaml)$
        pass_filenames: false

      - id: pnpm-sync
        name: pnpm-sync
        entry: pnpm install --frozen-lockfile
        language: system
        files: ^(package\.json|pnpm-lock\.yaml)$
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge

chore: drop to toml 1.0 format
  Cargo.toml
  mise.toml
Due: prettier

test: run wasm32 tests
  .cargo/config.toml
  .github/workflows/test.yml
  Cargo.toml
  mise.toml
  src/blog/mod.rs
  src/components/masthead/clock.rs
  src/components/year_in_code/mod.rs
  src/config/projects.rs
  src/integration/github/projects/fetch.rs
  src/integration/github/projects/model.rs
  src/integration/github/stats/defaults.rs
  src/integration/github/stats/fetch.rs
  src/integration/github/stats/model.rs
  src/lib.rs
  src/pages/projects/mod.rs
  src/pages/resume/mod.rs
Due: prettier

fix(deps): unblock wasm32 SSR build
  .github/renovate.json
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  Cargo.toml
  e2e/package.json
Due: prettier

chore: scaffold Astro toolchain, drop Cargo
  .cargo/config.toml
  .clippy.toml
  .gitignore
  .rustfmt.toml
  .superpowers/.gitignore
  .typos.toml
  Cargo.toml
  astro.config.mjs
  aube-lock.yaml
  biome.jsonc
  build.rs
  build/blog.rs
  build/markdown.rs
  build/mod.rs
  build/projects.rs
  mise.toml
  package.json
  prek.toml
  rust-toolchain.toml
  tsconfig.json
  vitest.config.ts
  wrangler.toml
Due: prettier, eslint, pnpm-lock

feat: port the design system to Astro
  app/styles/_layer-order.scss
  app/styles/base/_reset.scss
  app/styles/base/_root.scss
  app/styles/base/_typography.scss
  app/styles/components/_buttons.scss
  app/styles/components/_container.scss
  app/styles/components/_eyebrow-grid.scss
  app/styles/components/_eyebrow.scss
  app/styles/components/_hairlines.scss
  app/styles/components/_prism.scss
  app/styles/components/_prose.scss
  app/styles/components/_tags.scss
  app/styles/main.scss
  app/styles/mixins/_focus.scss
  app/styles/tokens/_borders.scss
  app/styles/tokens/_breakpoints.scss
  app/styles/tokens/_colors.scss
  app/styles/tokens/_layout.scss
  app/styles/tokens/_motion.scss
  app/styles/tokens/_spacing.scss
  app/styles/tokens/_typography.scss
  app/styles/utilities/_sr-only.scss
  style/base/_reset.scss
  style/base/_root.scss
  style/base/_typography.scss
  style/components/_buttons.scss
  style/components/_container.scss
  style/components/_hairlines.scss
  style/components/_prism.scss
  style/components/_prose.scss
  style/components/_tags.scss
  style/tokens/_layout.scss
  style/tokens/_motion.scss
  style/tokens/_spacing.scss
  style/tokens/_typography.scss
  style/utilities/_sr-only.scss
Due: prettier

feat: add layouts and shared components
  app/components/analytics.astro
  app/components/band.astro
  app/components/footer.astro
  app/components/live-stats.svelte
  app/components/masthead.astro
  app/components/socials.astro
  app/components/year-in-code.astro
  app/layouts/base.astro
Due: prettier, eslint

feat: add content collections and assets
  app/assets/favicon.png
  app/content.config.ts
  app/content/blog/a-sneak-peek-into-the-pact-python-future.md
  app/content/blog/astro-rewrite.md
  app/content/blog/asynchronous-message-support.md
  app/content/blog/functional-arguments.md
  app/content/blog/integrating-rust-ffi-with-pact-python.md
  app/content/blog/pact-python-v3-release.md
  app/content/projects/pact-python.md
  app/content/projects/rust-skiplist.md
  app/content/projects/simpler-wick.md
  app/content/projects/tikz-feynman.md
  app/content/resume.toml
  content/blog/leptos-rewrite.md
  content/projects/.gitkeep
  public/browserconfig.xml
  public/safari-pinned-tab.svg
  public/site.webmanifest
Due: prettier, eslint

feat: add GitHub stats library and data
  app/data/github-projects-fallback.json
  app/data/github-stats-fallback.json
  app/data/oss-contribs.ts
  app/data/projects.ts
  app/lib/blog.ts
  app/lib/github-projects.ts
  app/lib/github-stats.ts
  app/lib/projects.ts
  app/lib/rehype-pymdownx.ts
  app/lib/resume.ts
  app/lib/roman.ts
  app/lib/stats-cache.ts
  app/lib/year-in-code.ts
Due: prettier, eslint

feat: add pages and API routes
  app/env.d.ts
  app/pages/404.astro
  app/pages/api/github-stats.ts
  app/pages/blog/[...slug].astro
  app/pages/blog/index.astro
  app/pages/contact.astro
  app/pages/index.astro
  app/pages/projects.astro
  app/pages/projects/[slug].astro
  app/pages/resume.astro
  app/pages/rss.xml.ts
Due: prettier, eslint

chore: port data scripts to TypeScript
  scripts/generate-favicons.rs
  scripts/update-fallback-data.rs
  scripts/update-fallback-data.ts
  scripts/update-oss-contribs.rs
  scripts/update-oss-contribs.ts
Due: prettier, eslint

test: add unit and e2e suites
  app/data/projects-data.test.ts
  app/lib/blog-helpers.test.ts
  app/lib/fixture-check.test.ts
  app/lib/github-projects.test.ts
  app/lib/github-stats.test.ts
  app/lib/markdown-pymdownx.test.ts
  app/lib/projects-helpers.test.ts
  app/lib/resume-data.test.ts
  app/lib/roman.test.ts
  app/lib/stats-cache.test.ts
  app/lib/year-in-code.test.ts
  e2e/aube-lock.yaml
  e2e/playwright.config.ts
  e2e/tests/band.spec.ts
  e2e/tests/css-foundation-2.spec.ts
  e2e/tests/css-foundation.spec.ts
  e2e/tests/home.spec.ts
  e2e/tests/masthead.spec.ts
  e2e/tests/no-js.spec.ts
Due: prettier, eslint

chore: add Astro deployment workflows
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: prettier

docs: add README, guides, and licensing
  CLAUDE.md
  LICENSE
  README.md
  docs/DESIGN_GUIDELINE.md
Due: prettier

chore(deps): update dependency @types/node to v26
  aube-lock.yaml
  e2e/aube-lock.yaml
  e2e/package.json
  package.json
Due: prettier, pnpm-lock

chore(deps): update dependency @types/node to v26 (#1438)
  aube-lock.yaml
  e2e/aube-lock.yaml
  e2e/package.json
  package.json
Due: prettier, pnpm-lock

chore(deps): pin dependencies
  aube-lock.yaml
  package.json
Due: prettier, pnpm-lock

chore(deps): pin dependencies (#1441)
  aube-lock.yaml
  package.json
Due: prettier, pnpm-lock

chore: exclude aube lockfiles from yamlfix
  CLAUDE.md
  mise.toml
  prek.toml
Due: prettier

chore(deps): update aube lockfiles
  aube-lock.yaml
  e2e/aube-lock.yaml
Due: prettier

fix(deps): hold typescript at 6.x for astro check
  .github/renovate.json
  aube-lock.yaml
  package.json
Due: prettier, pnpm-lock

fix(ci): make the test completion gate actually block
  .github/workflows/test.yml
Due: prettier

fix(stats): surface GitHub API error details
  app/lib/github-stats.test.ts
  app/lib/github-stats.ts
Due: prettier, eslint
