Repository JP-Ellis/jpellis.me: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, pnpm-lock

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages:
  - pre-commit
default_install_hook_types:
  - commit-msg
  - post-checkout
  - pre-commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm exec prettier --write --ignore-unknown
        language: system
        exclude: ^(pnpm-lock\.yaml)$
        types: [text]

      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        files: \.(js|cjs|ts|cts|svelte)$

      - id: pnpm-lock
        name: pnpm-lock
        entry: pnpm install --lockfile-only
        language: system
        files: ^(package\.json|pnpm-lock\.yaml)$
        pass_filenames: false

      - id: pnpm-sync
        name: pnpm-sync
        entry: pnpm install --frozen-lockfile
        language: system
        files: ^(package\.json|pnpm-lock\.yaml)$
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge

fix(home): tuck post dates under titles on phones
  app/pages/index.astro
Due: prettier

fix(projects): restore the band's side gutters
  app/pages/projects.astro
Due: prettier

fix(projects): lay out band stats 2 × 2 on phones
  app/pages/projects.astro
Due: prettier

refactor(home): use type tokens for list text sizes
  app/pages/index.astro
Due: prettier

fix(theme): let display headings shrink on phones
  app/styles/tokens/_typography.scss
Due: prettier

fix(home): stack selected projects below 1280px
  app/pages/index.astro
Due: prettier

fix(home): two-row activity lines on phones
  app/components/year-in-code.astro
Due: prettier

fix(projects): stack the index below desktop width
  app/pages/projects.astro
Due: prettier

fix(home): open the commit grid on the newest week
  app/components/year-in-code.astro
Due: prettier

fix(contact): keep the email address on one line
  app/pages/contact.astro
Due: prettier

fix(code): follow colour scheme in code blocks
  app/styles/components/_code.scss
  app/styles/main.scss
  astro.config.mjs
Due: prettier

refactor(home): render stats headline on server
  README.md
  app/components/live-stats.svelte
  app/components/year-in-code.astro
  app/pages/api/github-stats.ts
  astro.config.mjs
  aube-lock.yaml
  biome.jsonc
  docs/DESIGN_GUIDELINE.md
  package.json
Due: prettier, eslint, pnpm-lock

chore: remove theme toggle and Prism remnants
  app/components/band.astro
  app/pages/projects.astro
  app/pages/projects/[slug].astro
  app/styles/components/_prism.scss
  app/styles/tokens/_colors.scss
  docs/DESIGN_GUIDELINE.md
Due: prettier

fix(pages): cache SSR pages and 404 unknown slugs
  app/lib/cache-control.ts
  app/pages/blog/index.astro
  app/pages/index.astro
  app/pages/projects.astro
  app/pages/projects/[slug].astro
Due: prettier, eslint

fix(blog): hide draft posts in production builds
  app/lib/posts.ts
  app/pages/blog/[...slug].astro
  app/pages/blog/index.astro
  app/pages/index.astro
  app/pages/rss.xml.ts
Due: prettier, eslint

feat(head): add page metadata and a sitemap
  app/layouts/base.astro
  app/lib/site.ts
  app/pages/404.astro
  app/pages/blog/[...slug].astro
  app/pages/blog/index.astro
  app/pages/contact.astro
  app/pages/index.astro
  app/pages/rss.xml.ts
  app/styles/tokens/_colors.scss
  astro.config.mjs
  aube-lock.yaml
  package.json
  public/robots.txt
Due: prettier, eslint, pnpm-lock

fix(contact): use one contact address everywhere
  app/components/socials.astro
  app/pages/contact.astro
  e2e/tests/footer.spec.ts
Due: prettier, eslint

feat(blog): render Mermaid diagrams at build time
  app/lib/remark-mermaid.test.ts
  app/lib/remark-mermaid.ts
  app/styles/components/_code.scss
  astro.config.mjs
  aube-lock.yaml
  package.json
Due: prettier, eslint, pnpm-lock

chore: drop comments that describe history
  app/data/projects-data.test.ts
  app/lib/blog.ts
  app/lib/github-projects.ts
  app/lib/rehype-pymdownx.ts
  app/pages/index.astro
  app/styles/base/_typography.scss
  app/styles/components/_prose.scss
  app/styles/tokens/_borders.scss
  app/styles/tokens/_colors.scss
  app/styles/tokens/_typography.scss
Due: prettier, eslint

fix(a11y): make section labels real headings
  app/components/year-in-code.astro
  app/pages/blog/index.astro
  app/pages/contact.astro
  app/pages/index.astro
  app/pages/projects.astro
  app/pages/projects/[slug].astro
  app/pages/resume.astro
  app/styles/components/_eyebrow.scss
Due: prettier

fix(projects): use table and list semantics
  app/pages/projects.astro
Due: prettier

refactor(styles): replace size literals with tokens
  app/components/masthead.astro
  app/components/year-in-code.astro
  app/pages/404.astro
  app/pages/contact.astro
  app/pages/index.astro
  app/pages/projects.astro
  app/pages/projects/[slug].astro
  app/pages/resume.astro
  app/styles/base/_typography.scss
  app/styles/components/_prose.scss
  app/styles/tokens/_layout.scss
  app/styles/tokens/_typography.scss
  docs/DESIGN_GUIDELINE.md
Due: prettier

fix(blog): make the tag filter reliable
  app/pages/blog/index.astro
  e2e/tests/blog-filter.spec.ts
Due: prettier, eslint

fix(contact): rebind copy button after navigation
  app/pages/contact.astro
  e2e/tests/contact.spec.ts
Due: prettier, eslint

fix(head): strip .html from canonical URLs
  app/layouts/base.astro
  app/lib/site.test.ts
  app/lib/site.ts
  app/pages/404.astro
  app/pages/blog/[...slug].astro
  app/pages/rss.xml.ts
Due: prettier, eslint

test(e2e): cover routes, metadata, a11y and code
  e2e/aube-lock.yaml
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/a11y.spec.ts
  e2e/tests/code-blocks.spec.ts
  e2e/tests/css-foundation.spec.ts
  e2e/tests/home.spec.ts
  e2e/tests/routes.spec.ts
Due: prettier, eslint

docs(readme): document the E2E_PORT override
  README.md
Due: prettier

docs(content): use Oxford spelling
  app/content/resume.toml
  app/data/projects.ts
Due: prettier, eslint

docs(content): hyphenate open-source, italicize k
  app/content/resume.toml
  app/pages/contact.astro
  app/pages/index.astro
Due: prettier

fix(projects): show the v3 API on pact-python
  app/content/projects/pact-python.md
Due: prettier

fix(projects): correct TikZ-Feynman facts
  app/content/projects/tikz-feynman.md
  app/content/resume.toml
Due: prettier

fix(projects): match simpler-wick text to markup
  app/content/projects/simpler-wick.md
Due: prettier

fix(projects): tidy rust-skiplist descriptions
  app/content/projects/rust-skiplist.md
  app/data/projects.ts
Due: prettier, eslint

docs(resume): fix journal name and wording
  app/content/resume.toml
  app/data/projects.ts
Due: prettier, eslint

docs(home): date the antimatter line from résumé
  app/pages/index.astro
Due: prettier

docs(projects): describe the index links truly
  app/pages/projects.astro
Due: prettier
