Repository JP-Ellis/jpellis.me: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, pnpm-lock

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages:
  - pre-commit
default_install_hook_types:
  - commit-msg
  - post-checkout
  - pre-commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm exec prettier --write --ignore-unknown
        language: system
        exclude: ^(pnpm-lock\.yaml)$
        types: [text]

      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        files: \.(js|cjs|ts|cts|svelte)$

      - id: pnpm-lock
        name: pnpm-lock
        entry: pnpm install --lockfile-only
        language: system
        files: ^(package\.json|pnpm-lock\.yaml)$
        pass_filenames: false

      - id: pnpm-sync
        name: pnpm-sync
        entry: pnpm install --frozen-lockfile
        language: system
        files: ^(package\.json|pnpm-lock\.yaml)$
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge

test(e2e): cover routes, metadata, a11y and code
  e2e/aube-lock.yaml
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/a11y.spec.ts
  e2e/tests/code-blocks.spec.ts
  e2e/tests/css-foundation.spec.ts
  e2e/tests/home.spec.ts
  e2e/tests/routes.spec.ts
Due: prettier, eslint

fix(projects): correct TikZ-Feynman facts
  app/content/projects/tikz-feynman.md
  app/content/resume.toml
Due: prettier

docs(content): use Oxford spelling
  app/content/resume.toml
  app/data/projects.ts
Due: prettier, eslint

fix(projects): use table and list semantics
  app/pages/projects.astro
Due: prettier

fix(code): follow colour scheme in code blocks
  app/styles/components/_code.scss
  app/styles/main.scss
  astro.config.mjs
Due: prettier

fix(blog): make the tag filter reliable
  app/pages/blog/index.astro
  e2e/tests/blog-filter.spec.ts
Due: prettier, eslint

fix(a11y): make section labels real headings
  app/components/year-in-code.astro
  app/pages/blog/index.astro
  app/pages/contact.astro
  app/pages/index.astro
  app/pages/projects.astro
  app/pages/projects/[slug].astro
  app/pages/resume.astro
  app/styles/components/_eyebrow.scss
Due: prettier

feat(head): add page metadata and a sitemap
  app/layouts/base.astro
  app/lib/site.ts
  app/pages/404.astro
  app/pages/blog/[...slug].astro
  app/pages/blog/index.astro
  app/pages/contact.astro
  app/pages/index.astro
  app/pages/rss.xml.ts
  app/styles/tokens/_colors.scss
  astro.config.mjs
  aube-lock.yaml
  package.json
  public/robots.txt
Due: prettier, eslint, pnpm-lock

docs(content): hyphenate open-source, italicize k
  app/content/resume.toml
  app/pages/contact.astro
  app/pages/index.astro
Due: prettier

fix(contact): use one contact address everywhere
  app/components/socials.astro
  app/pages/contact.astro
  e2e/tests/footer.spec.ts
Due: prettier, eslint

fix(blog): fix sneak peek emoji and typo
  app/content/blog/a-sneak-peek-into-the-pact-python-future.md
Due: prettier

refactor(styles): replace size literals with tokens
  app/components/masthead.astro
  app/components/year-in-code.astro
  app/pages/404.astro
  app/pages/contact.astro
  app/pages/index.astro
  app/pages/projects.astro
  app/pages/projects/[slug].astro
  app/pages/resume.astro
  app/styles/base/_typography.scss
  app/styles/components/_prose.scss
  app/styles/tokens/_layout.scss
  app/styles/tokens/_typography.scss
  docs/DESIGN_GUIDELINE.md
Due: prettier

chore: allow 80-char subjects and 100-char bodies
  committed.toml
Due: prettier

chore(mise): prefer aqua and github backends
  mise.toml
Due: prettier
