Repository JP-Ellis/jpellis.me: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, pnpm-lock

prettier:
  name: prettier
  entry: pnpm exec prettier --write --ignore-unknown
  language: system

eslint:
  name: eslint
  entry: npx eslint
  language: system

pnpm-lock:
  name: pnpm-lock
  entry: pnpm install --lockfile-only
  language: system
  pass_filenames: false

docs(projects): replace vague project summaries
  app/data/projects.ts
Due: prettier, eslint

docs(contact): name pact-python in the note
  app/pages/contact.astro
Due: prettier

docs(home): plain intro for the contribution grid
  app/components/year-in-code.astro
Due: prettier

docs(blog): mark the Astro rewrite post as draft
  app/content/blog/astro-rewrite.md
Due: prettier

fix(blog): update functional arguments examples
  app/content/blog/functional-arguments.md
Due: prettier

fix(blog): fix async message post examples
  app/content/blog/asynchronous-message-support.md
Due: prettier

fix(blog): update rust ffi post to pact_ffi
  app/content/blog/integrating-rust-ffi-with-pact-python.md
Due: prettier

fix(blog): fix v3 release examples and source
  app/content/blog/pact-python-v3-release.md
Due: prettier

fix(blog): fix sneak peek emoji and typo
  app/content/blog/a-sneak-peek-into-the-pact-python-future.md
Due: prettier

test(e2e): stop relying on the drafted post
  e2e/tests/blog-filter.spec.ts
  e2e/tests/routes.spec.ts
Due: prettier, eslint

chore(deps): update lockfile
  aube-lock.yaml
  package.json
Due: prettier, pnpm-lock

fix(stats): skip GitHub refresh without a token
  app/env.d.ts
  app/lib/stats-cache.test.ts
  app/lib/stats-cache.ts
  app/pages/index.astro
  app/pages/projects.astro
  app/pages/projects/[slug].astro
Due: prettier, eslint

chore(e2e): run 150% workers in every context
  e2e/playwright.config.ts
Due: prettier, eslint

refactor(home): render stats headline on server
  README.md
  app/components/live-stats.svelte
  app/components/year-in-code.astro
  app/pages/api/github-stats.ts
  astro.config.mjs
  aube-lock.yaml
  biome.jsonc
  docs/DESIGN_GUIDELINE.md
  package.json
Due: prettier, eslint, pnpm-lock

docs(home): date the antimatter line from résumé
  app/pages/index.astro
Due: prettier

fix(projects): show the v3 API on pact-python
  app/content/projects/pact-python.md
Due: prettier

feat(blog): render Mermaid diagrams at build time
  app/lib/remark-mermaid.test.ts
  app/lib/remark-mermaid.ts
  app/styles/components/_code.scss
  astro.config.mjs
  aube-lock.yaml
  package.json
Due: prettier, eslint, pnpm-lock

fix(projects): match simpler-wick text to markup
  app/content/projects/simpler-wick.md
Due: prettier

fix(blog): hide draft posts in production builds
  app/lib/posts.ts
  app/pages/blog/[...slug].astro
  app/pages/blog/index.astro
  app/pages/index.astro
  app/pages/rss.xml.ts
Due: prettier, eslint

docs(readme): document the E2E_PORT override
  README.md
Due: prettier

docs(projects): describe the index links truly
  app/pages/projects.astro
Due: prettier

fix(head): strip .html from canonical URLs
  app/layouts/base.astro
  app/lib/site.test.ts
  app/lib/site.ts
  app/pages/404.astro
  app/pages/blog/[...slug].astro
  app/pages/rss.xml.ts
Due: prettier, eslint

chore: remove theme toggle and Prism remnants
  app/components/band.astro
  app/pages/projects.astro
  app/pages/projects/[slug].astro
  app/styles/components/_prism.scss
  app/styles/tokens/_colors.scss
  docs/DESIGN_GUIDELINE.md
Due: prettier

docs(resume): fix journal name and wording
  app/content/resume.toml
  app/data/projects.ts
Due: prettier, eslint

fix(contact): rebind copy button after navigation
  app/pages/contact.astro
  e2e/tests/contact.spec.ts
Due: prettier, eslint

fix(projects): tidy rust-skiplist descriptions
  app/content/projects/rust-skiplist.md
  app/data/projects.ts
Due: prettier, eslint

chore: drop comments that describe history
  app/data/projects-data.test.ts
  app/lib/blog.ts
  app/lib/github-projects.ts
  app/lib/rehype-pymdownx.ts
  app/pages/index.astro
  app/styles/base/_typography.scss
  app/styles/components/_prose.scss
  app/styles/tokens/_borders.scss
  app/styles/tokens/_colors.scss
  app/styles/tokens/_typography.scss
Due: prettier, eslint

fix(pages): cache SSR pages and 404 unknown slugs
  app/lib/cache-control.ts
  app/pages/blog/index.astro
  app/pages/index.astro
  app/pages/projects.astro
  app/pages/projects/[slug].astro
Due: prettier, eslint

Path conditions:
  prettier: any file but: ^(pnpm-lock\.yaml)$
  eslint: any of: \.(js|cjs|ts|cts|svelte)$
  pnpm-lock: any of: ^(package\.json|pnpm-lock\.yaml)$
