Repository JP-Ellis/jpellis.me: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, pnpm-lock

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages:
  - commit
default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write --ignore-unknown
        language: system
        exclude: ^(pnpm-lock\.yaml)$
        types: [text]

      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        files: \.(js|cjs|ts|cts|svelte)$

      - id: pnpm-lock
        name: pnpm-lock
        entry: pnpm install --lockfile-only
        language: system
        files: ^(package\.json|pnpm-lock\.yaml)$
        pass_filenames: false

chore(deps): update vite to v5.0.10
  package.json
  pnpm-lock.yaml
Due: prettier, pnpm-lock

feat(resume): update KPMG section
  src/lib/components/Resume/Resume.svelte
Due: prettier, eslint

feat(resume): add SmartBear section
  src/lib/components/Resume/Resume.svelte
  src/lib/components/Resume/assets/smartbear.svg
Due: prettier, eslint

chore(ci): automerge updates
  .github/renovate.json5
Due: prettier

fix: renamed lucide icon
  src/lib/components/Hero/Hero.svelte
Due: prettier, eslint

chore: reorder package.json
  package.json
Due: prettier, pnpm-lock

chore: update pre-commit config
  .pre-commit-config.yaml
Due: prettier

style: linting/formatting
  src/lib/components/Resume/Resume.svelte
  src/lib/styles/theme.ts
Due: prettier, eslint

chore: add vscode recommendations
  .vscode/extensions.json
Due: prettier

chore: add nvmrc
  .nvmrc
Due: prettier

chore: use pnpm exec instead of npx
  .pre-commit-config.yaml
Due: prettier

fix: build error
  src/routes/projects/tikz-feynman/+page.svx
Due: prettier

chore: expand pnpm-sync applicability
  .pre-commit-config.yaml
Due: prettier

chore(ci): run updates weekly only
  .github/renovate.json
  .github/renovate.json5
Due: prettier

chore: initialise repository
  .gitignore
Due: prettier

chore: add mise tool versions and tasks
  mise.toml
Due: prettier

chore: add editor and Rust formatter/linter configs
  .clippy.toml
  .editorconfig
  .rustfmt.toml
  src/lib.rs
Due: prettier

feat: add minimal Leptos app skeleton
  Cargo.toml
  public/.gitkeep
  rust-toolchain.toml
  src/lib.rs
  src/main.rs
  style/main.scss
Due: prettier

chore: add YAML, JSON, markdown, and commit message configs
  .tombi.toml
  .yamlfix.toml
  biome.jsonc
  committed.toml
  rumdl.toml
Due: prettier

chore: use nightly rustfmt for unstable formatting options
  mise.toml
Due: prettier

chore: add prek pre-commit hooks
  prek.toml
Due: prettier

chore: add wrangler Cloudflare Workers config
  wrangler.toml
Due: prettier

chore: add GitHub Actions CI workflow
  .github/workflows/test.yml
Due: prettier

fix: disable leptos_axum default features for WASM, add getrandom wasm_js, fix tsconfig moduleResolution
  Cargo.toml
  e2e/tsconfig.json
Due: prettier

chore: add Playwright e2e skeleton
  e2e/aube-lock.yaml
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/.gitkeep
  e2e/tsconfig.json
Due: prettier, eslint

chore: gitignore .worktrees/ for git worktree support
  .gitignore
Due: prettier

chore: scaffold CSS layers and empty partials
  style/_layer-order.scss
  style/base/_reset.scss
  style/base/_root.scss
  style/base/_typography.scss
  style/components/_band.scss
  style/components/_container.scss
  style/components/_eyebrow-grid.scss
  style/components/_eyebrow.scss
  style/components/_footer.scss
  style/components/_hairlines.scss
  style/components/_masthead.scss
  style/components/_tags.scss
  style/main.scss
  style/mixins/_focus.scss
  style/tokens/_breakpoints.scss
  style/tokens/_colors.scss
  style/tokens/_layout.scss
  style/tokens/_motion.scss
  style/tokens/_spacing.scss
  style/tokens/_typography.scss
  style/utilities/_sr-only.scss
Due: prettier

feat(css): add spacing and motion tokens
  style/tokens/_breakpoints.scss
  style/tokens/_motion.scss
  style/tokens/_spacing.scss
Due: prettier

feat(css): add layout and z-index tokens
  style/tokens/_layout.scss
Due: prettier

feat(css): add typography tokens
  style/tokens/_typography.scss
Due: prettier

feat(css): add color tokens with dark mode
  style/tokens/_colors.scss
Due: prettier
